/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */

.container {
	max-width: 1500px;
	margin: 0 auto;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 1.5rem;
    margin: 10px;
}

h2 {
    font-size: 45px;
    padding: 1.5rem;
    margin: 20px 0;
    text-align: left;
    padding: 0;
}

h3 {
    font-size: 30px;
    padding: 1.5rem;
    margin: 20px 0;
    text-align: center;
    font-weight: 700;
}

h4 {
    font-size: 30px;
    padding: 1.5rem;
    margin: 20px 0;
    text-align: left;
    font-weight: 900;
    color: #8EA1E1;
    padding-left: 0;
    
}

h5 {
    font-size: 1rem;
    color: #8EA1E1;
    padding: 1.8rem 1.5rem 0 0;
    margin: 20px 0 0;
    line-height: 1.8rem;
}

p {
    color: black;
    line-height: 2rem;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    color: white;
    font-weight: 600;
    line-height: 1.8rem;
}

/* Header */

.header-top {
    background-color: #255EE9;
}

.header-bottom {
    background-image: url(img/img/jumbo.png);
    background-size: cover;
    min-height: 550px;
}

/* Header nav */

.flex-container {
    display: flex;
}

.flex-container.header-nav {
    min-height: 100px;
    align-items: center;
    line-height: 30px;
}

.logo {
    height: 50px;
    flex-basis: 20%;
    
}

.link {
    height: 50px;
    flex-basis: 60%;
    
    text-align: center;
    padding: 10px;
}

.link > * {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

.login {
    height: 50px;
    flex-basis: 20%;
    text-align: end;
    padding: 10px;
}

.login > * {
    border-radius: 15px;
    padding: 8px 13px;
    background-color: white;
    color: black;
    text-decoration: none;
}

/* Header Introduction */

.flex-container.header-introduction {
    align-items: center;
    height: 550px;
    justify-content: center;
}

.header-copy {
    height: 500px;
    flex-basis: 70%;
}

h1 + p {
    color: white;
    line-height: 2rem;
    font-size: 1.5rem;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.cta {
    border-radius: 15px;
    padding: 12px 18px;
    text-decoration: none;
    text-align: center;
}

#mac-download {
    color: black;
    background-color: white;
}

#browser-discord {
    color: white;
    background-color: black;
    
}

/* Main */

/* Flexibility section */

.img-copy {
    height: 600px;
    margin: 30px 0;
}

.flex-container.img-copy {
    align-items: center;
}

.img-flexibility {
    flex-basis: 60%;
    height: 550px;
}

.copy-flexibility {
    flex-basis: 40%;
    height: 550px;
    padding: 10px;
    padding-right: 250px;
}

/* Accessibility section */

.accessibility {
    background-color: rgb(238, 238, 238);
}

.copy-img {
    height: 600px;
}

.flex-container.copy-img {
    align-items: center;
}

.img-accessibility {
    flex-basis: 60%;
    height: 550px;
}

.copy-accessibility {
    flex-basis: 40%;
    height: 550px;
    padding: 10px;
    padding-right: 250px;
}

/* Community section */

.img-copy {
    min-height: 600px;
}

.flex-container.img-copy {
    align-items: center;
}

.img-community {
    flex-basis: 60%;
    height: 550px;
}

.copy-community {
    flex-basis: 40%;
    height: 550px;
    padding: 10px;
    padding-right: 250px;
}

/* Affidability section */

.affidability {
    background-color: rgb(238, 238, 238);
}

.copy-img-cta {
    height: 1000px;
    padding: 50px;
}

/* Vecchio codice con flex */
/* .flex-container.copy-img-cta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy-affidability {
    width: 1500px;
    height: calc(120px - (50px / 3));
}

.img-affidability {
    width: 1500px;
    height: calc(360px - (50px / 3));

}

.cta-affidability {
    width: 1500px;
    height: calc(120px - (50px / 3));

} */

.copy-affidability h2 {
    font-size: 45px;
    padding: 2rem;
    margin: 20px 0;
    text-align: center;
    padding: 0;
}

.img-affidability {
    text-align: center;
}

.copy-affidability p {
    text-align: center;
    padding: 20px;
}

h3 + .cta {
    background-color: #8EA1E1;
}

#main-mac-download-cta {
    color: white;
    font-weight: 600;
}

/* Footer */

footer {
    background-color: rgb(0, 0, 70);
    min-height: 600px;
}

.flex-container-footer {
    width: 1500px;
}

/* Language */

.flex-container.language-social {
    flex-direction: column;
    justify-content: center;
}

.language-social {
    width: 400px;
    height: 450px;
}

.language {
    flex-basis: 400px;
}

#italy-flag {
    color: white;
}

/* General link */

.flex-container.general-link {
    justify-content: center;
    align-items: center;
    width: 1100px;
    align-content: center;
}

.general-link {
    height: 450px;
    width: 1100px
}

.product {
    height: 400px;
    width: 25%;
}

.company {
    height: 400px;
    width: 25%;
}

.resources {
    height: 400px;
    width: 25%;
}

.legal {
    height: 400px;
    width: 25%;
}

/* Footer log-up */

.flex-container.footer-logo-logup {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #8EA1E1;
    padding: 30px 0;
}

.logo-logup {
    height: 150px;
    width: 1500px;
}

.footer-logo {
    height: 200px;
    
}

.footer-logup {
    height: 200px;
    
}

.spacing {
    padding: 10px;
}

.button {
    text-align: end;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    padding: 12px 18px;
    text-decoration: none;
    background-color: #8EA1E1;
}